<html>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="directiveWithTrueScope.js"></script>
</head>

<body>
    <div ng-app="test">
        <div ng-controller="parentController">
            <h2>Hey {{name}}</h2>
            <div>
                Change Form Header : <input type-="text" ng-model="name" />
            </div>
            <br />
            <hr />
            <div directive-with-true-scope></div>
            <!-- not poosible because it is restricted only for Attribute and this is for Element Name -->
            <!-- <directive-with-true-scope></directive-with-true-scope> -->
        </div>
    </div>

    <div ng-app="app">
        <div class="parent" ng-controller="MainCtrl">
            <div class="line">
                Name inside parent scope is:<input type="text" ng-model="name" />
            </div>
            <div class="line">
                Last name inside parent scope is:
                <input type="text" ng-model="lastName" />
            </div>
            <br />
            <hr />
            <div class="directive" my-directive name="{{name}}" last-name="lastName"></div>
        </div>
    </div>

</body>

</html>