<html ng-app="demoApp">

<head>
    <title>AnchorScroll</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="Script.js"></script>
    <link rel="stylesheets" href="Style.css" />
</head>

<body ng-controller="demoController">
    <button id="top" ng-click="scrollTo('bottom')">Go to Bottom</button>
    <div>
        <br>
        <b><u>AnchorScroll Example</u></b><br><br>
        <b>f gvydfcybixzbycgcvxyb nuv</b> <br>
        <b>f gvydfcybixzbycgcvjggbvbvx <br>bxsfyxzzzzzzzzuiybyurerbcyc</b> <br>
        <b>f gvydfcybixzbycgcvx</b> <br>
        <b>f gvydfcybixzbycgcvx<br>bxsfyxzzzzzzzzuiybyurerbcycjbjhrgdtabcanxafbxtiabnxbfcx</b> <br>
        <b>f gvydfcybixzbycgcvx</b> <br>
    </div>
    <button id="bottom" ng-click="scrollTo('top')">Go to Top</button>
</body>

</html>